/* Day 1 Example (Beginning) */
#parent{
    border:2px solid blue;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
}
#kid1{
    border: 2px solid red;
    background: green;
    padding:20px;
    margin:10px
}
#kid2{
    border: 2px solid red;
    background: yellow;
    padding:20px;
    margin:10px
}
#kid3{
    border: 2px solid red;
    background: red;
    padding:20px;
    margin:10px
}
#kid4{
    border: 2px solid red;
    background: orange;
    padding:20px;
    margin:10px
}
/* Day 1 Example (Ending) */ 

/* Day 2 (beginning) First Example */
#mommy{
    border:2px solid blue;
    display:-webkit-box;
    -webkit-box-orient:horziontal;
    -webkit-box-direction:reverse;
}
#child1{
    border: 2px solid red;
    background:blue;
    padding:20px;
    margin:10px 
}
#child2{
    border: 2px solid red;
    background:lightgreen;
    padding:20px;
    margin:10px 
}
#child3{
    border: 2px solid red;
    background:lightblue;
    padding:20px;
    margin:10px 
}
#child4{
    border: 2px solid red;
    background:gold;
    padding:20px;
    margin:10px 
}
